{% extends "chat/base.html" %}
{% load static %}

{% block title %}Chat{% endblock %}

{% block extra_styles %}
{% endblock %}

{% block content %}
    {% include "chat/navbar.html" %}
    {{ chat_group }}
    <div>
        <div>
            <ul>
                <li>[[ msg.user ]]: [[ msg.msgText ]]</li>
            </ul>
        </div>
    </div>

    <footer>
        <div>
            <form>
                <input class="" type="text" id="msgText">
                <label class="" for="msgText">Message text....</label>
                <button type="submit">
                    Send Message
                </button>
            </form>
        </div>
    </footer>
{% endblock %}

{% block extra_js %}
    <script>
		var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
		var dataStream = $websocket(ws_scheme.concat('://', window.location.host, '/{{ chat_room }}/'));
    </script>
{% endblock %}
