<!DOCTYPE html>
{% load staticfiles %}
<html ng-app="chatApp">
<head>
<title>Chat APP</title>
<script src="{% static "chat/angular.min.js" %}"></script>
</head>

<body>
<section ng-controller="MessagesController">
	<ul>
		<li ng-repeat="msg in messages track by $index">[[ msg.user ]]: [[ msg.msgText ]]</li>
    </ul>
    <form ng-submit="submit(user, msgText)">
        <input type="text" ng-model="user" placeholder="User"/>
        <input type="text" ng-model="msgText" placeholder="Message Text" />
        <Button type="submit">Send Message</Button>
    </form>
</section>
<script src="{% static "chat/angular-route.min.js" %}"></script>
<script src="{% static "chat/angular-animate.min.js" %}"></script>
<script src="{% static "chat/angular-websocket.min.js" %}"></script>
<script>
    var app = angular.module('chatApp', ['ngWebSocket']);
        app.config(function($interpolateProvider) {
        $interpolateProvider.startSymbol('[[');
        $interpolateProvider.endSymbol(']]');
    });

	app.factory('MessagesFactory', function($websocket) {
		var dataStream = $websocket('ws://localhost:8000/chat/');

        var testData = {"user": "User1", "msgText": "Test Message!"};
		var collection = [testData];

		dataStream.onMessage(function(message) {
            console.log('onMessage', message);
            collection.push(JSON.parse(message.data));
		});

        dataStream.onOpen(function(message) {
            //dataStream.send(JSON.stringify(message));
        });

		return {
            collection: collection,
            send: function(message) {
                console.log(message);
                dataStream.send(JSON.stringify(message));
            }
		};
	});

    app.controller('MessagesController', function($scope, MessagesFactory) {
        $scope.messages = MessagesFactory.collection;

        $scope.submit = function(user, msgText) {
            MessagesFactory.send({"user": user, "msgText": msgText});
        }
    });

    /**
    socket = new WebSocket("ws://" + window.location.host + "/chat/");

    socket.onmessage = function(e) {
        alert(e.data);
    };

    socket.onopen = function() {
        socket.send(JSON.stringify({"test": "test"}));
    };
    **/

</script>
</body>
</html>
